<%= form_for @event do |f| %>
  <% if !(@event.id) %>
    <div class="field">
      <%= f.label :name %><br/>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :food_type %><br/>
      <%= f.text_field :food_type %>
    </div>
    <div class="field">
      <%= f.label :location %><br/>
      <%= f.text_field :location %>
    </div>
    <div class="field">
      <%= f.label :start_time %><br/>
      <%= f.datetime_select :start_time, {default: Time.now} %>
    </div>
    <%= f.hidden_field :user_id, :value => @user_id %>
  <% else %>
    <div class="field">
      <%= f.label :food_type %><br/>
      <%= f.text_field :food_type %>
    </div>
    <div class="field">
      <%= f.label :location %><br/>
      <%= f.text_field :location %>
    </div>
    <div class="field">
      <%= f.label :start_time %><br/>
      <%= f.datetime_select :start_time, {default: Time.now} %>
    </div>
    <div class="field">
      <%= f.label :quantity %><br/>
      <%= f.text_field :quantity%>
    </div>
    <div class="field">
      <%= f.label :quality %><br/>
      <%= f.text_field :quality %>
    </div>
    <div class="field">
      <%= f.label :awkwardness %><br/>
      <%= f.text_field :awkwardness %>
    </div>
    <div class="field">
      <%= f.label :wait_time %><br/>
      <%= f.text_field :wait_time %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
    <%= f.hidden_field :user_id, :value => @user_id %>
  </div>

<% end %>